<h1>Dashboard</h1>
<!-- 
<ul>
	<% @gtins.each do |gtin| %>
	<li><%#= gtin.gtin %></li>
	<% end %>
</ul>

<%#= will_paginate @gtins %> -->

<% #if params[:gtin].present? %>
	<%#= params[:gtin] %><br />
<% #end %>


<table class="table table-striped" id="tbl-products" border='1'>
  <thead>
    <tr>    
      <th>GTIN</th>
      <th>Description</th>
      <th>Completed Retailers</th>
      <th>Outstanding Retailers</th>
      <td>Edit</td>
    </tr>
  </thead>
  <tbody>
  	<%# @products.each do |product| %>
	  	<!-- <tr>
				<td><%#= product.at("Code[Scheme='GTIN']").content %></td>
				<td><%#= product.at("Subscription").text %></td>
				<td><%#= product.at("DiagnosticDescription").content %></td>
				<td><%#= product.at("Subscription")["Id"] %></td>
				
				<td><%#= link_to 'Edit', audit_product_path(product.at("Code[Scheme='GTIN']").text) %></td>
			</tr>	 -->
		<%# end %>


		<% @gtins.each do |gtin| %>
		<tr>
			<td><%= gtin.gtin %></td>
			<td><%= gtin.description %></td>
			<td>
				<%= Retailer.find_all_by_id(gtin.audits.map(&:retailer_id).split(",")).map(&:name).join(",") %>
				
			</td>
			<td>to do</td>
			<td><%= link_to 'Edit', audit_product_path(gtin.gtin) %></td>
		</tr>	
		<% end %>
		<%= will_paginate @gtins %>
  </tbody>
</table>