<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for?(:title) ? yield(:title) : "Untitled" %></title>
    <%= stylesheet_link_tag "application" %>
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:400,700,600" rel="stylesheet" type="text/css">
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tag %>
    <%= yield(:head) %>
  </head>
  <body>
  	<div class="menu">
			<div class="container clearfix">

				<div id="logo" class="grid_3">
					<img src="/assets/Nestle_logo.jpg">
				</div>

				<div id="nav" class="grid_9 omega">
					<ul class="navigation">
						<li data-slide="1" class="active">About</li>
						<li data-slide="2">Credits</li>
					</ul>
				</div>

			</div>
		</div>



    <div class="container clearfix" style="padding-top: 140px;">
      <% flash.each do |name, msg| %>
        <%= content_tag :div, msg, :id => "flash_#{name}" %>
      <% end %>
      <%= content_tag :h1, yield(:title) if show_title? %>
      <%= yield %>
    </div>


    <div id="fail_data" class="reveal-modal">
      <h1>Retailer Fields</h1>
      <p>Any Failed content could go in here.</p>
      <a class="close-reveal-modal">&#215;</a>
      <section>
        Field name: <input type="text" name="fieldname"><br>
        Field Content: 
        <textarea rows="4" cols="10"></textarea>
        <a href="#" class="btn" id="save_fail_data">Save</a>
      </section>
    </div>

    <div id="image_upload" class="reveal-modal">
      <h1>Upload Image</h1>
      <p>Any content could go in here.</p>
      <a class="close-reveal-modal">&#215;</a>





<label for="file">Filename:</label>
<input type="file" name="file" id="file"><br>
<input type="submit" name="submit" value="Submit">
      <%#= render "audits/partials/image_upload" %>
      




    </div>

  </body>
</html>
